* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #22343D;
    margin: 0 auto;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #22343D;
}
:root{
    --color-green:#02897A;
}
.container {
    width: 77%;
    margin: 0 auto;
}
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: var(--color-green);
    border-radius: 4px;
    width: 175px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background: #046d63;
}
.button--white{
    background-color: white;
    color: var(--color-green);
}
.button--white:hover{
    background: #77cbc4;
    color: white;
}
.paragraph{
    font-size: 16px;
    line-height: 26px;
}
.color-green{
    color: var(--color-green);
}
.color-white{
    color: white;
}

/* Grudilov branch */
.header__conteiner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 19px;
}
.header__nav-bar {
    display: flex;
}
.header__logo-1 {
    height: 36px;
    margin-right: 16px;
}
.header__logo-2 {
    height: 28px;
    width: 122px;
}
.header__menu {
    display: flex;
    gap: 23px;
}
.header__list {
    display: flex;
    margin: 14px 20px 0 160px;
    gap: 25px;
}
 .header__button-list {
    display: flex;
    gap: 27px;
}
.header__button--white {
    border: 1px #BCD0E5 solid;
}
.main-title__content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.main-title__block {
    width: 420px;
    margin: 145px 0 114px 0;
}
.main-title__paragraph {
    margin: 18px 0 45px 0;
}
.main-title__buttons {
    display: flex;
    align-items: first baseline;
    gap: 25px;
}
.main-title__underline {
    font-weight: 600;
    color: #02897A;
    text-decoration: underline;
}
.for-you {
    background: url(./image/Bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 550px;
}
.for-you__title {
    text-align: center;
    font-weight: 700px;
    margin-bottom: 58px;
}
.for-you__box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 58px;
    margin: 0 5%;
    gap: 45px
}
.for-you__box-block {
    width: 240px;
    height: 220px;
}
.for-you--title-size {
    font-size: 22px;
    font-weight: 600;
}
.for-you__button {
    margin: 60px 42% 0 42%;
}
/* Continue Grudilov branch */
.strategies__line {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 33px 0 64px 0;
    }
.strategies__line-block{


.management__content {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.management__block {
     max-width: 486px;
}
.management__paragraph--bold{
    font-weight: 600;
}
.management__title {
    margin-top: 8px;
    margin-bottom: 23px;
}
.management__paragraph-margin-b{
    margin-top: 30px;
    margin-bottom: 12px;
}
.management__paragraph-margin-s{
    margin-top: 25px;
    margin-bottom: 12px;
}
.management__img {
    width: 100%;
}
.support__content {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.support__block {
    max-width: 486px;
}
.support__title {
    margin-top: 8px;
    margin-bottom: 23px;
}
.support__underblock{
    max-width: 430px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

    .support__img {
    width: 100%
}
.collaborative__content {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 150px;
}
.collaborative__block {
    max-width: 486px;
}
.collaborative__title {
    margin-top: 8px;
    margin-bottom: 23px;
}
.paragraph--bold{
    font-weight: 600;
    }
.management__paragraph-margin-b{
    margin-top: 30px;
    margin-bottom: 12px;
}
.management__paragraph-margin-s{
    margin-top: 25px;
    margin-bottom: 12px;
}
.collaborative__img {
    width: 100%;
}
@media screen and (max-width: 1200px) {
.support__content{
    display: flex;
    flex-direction: column;
}
.collaborative__content{
    display: flex;
    flex-direction: column;
}
.management__content{
    display: flex;
    flex-direction: column;
}

}
.expert {
    background: url(./images/bg\ down.svg);
    background-size: cover;
    background-position: top;
    margin-top: 167px;
}
.expert__content {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraph-expert {
    font-weight: 500;
    margin-bottom: 32px;
    margin-top:16px;
}
.expert__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 178px;
}
.expert__button {
    width: 216px;
    margin-top: 48px;
}

.strategies__content {
    padding-top: 150px;
}
.strategies__title {
     margin-bottom: 8px;
    font-size: 34px;
    line-height: 51px;
}
.paragraph-strategies {
    font-weight: 500;
    margin-bottom: 32px;
}
.strategies__line {
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
    }
.strategies__line-block{
    width: 100%;
    min-width: 165px;

    border-radius: 8px;
    border: 1px solid #DEDEDE;
}
.strategies__item-img {
    width: 100%;
}
.strategies__paragraph{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-top: 12px;
}
.strategies__text{

    width: 348px;


    padding: 24px 30px 40px 24px;
}
.strategies__dots {
    width: 68px;

    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .header__list {
        margin-left: 35px;
    }
    .header__menu {
        gap: 15px;
    }
    .strategies__line {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1000px) {
    .main-title__block {
        margin: 30px 0 10px 0;
    }
    .main-title__content {
        flex-direction: column;
        align-items: center;
    }
    .header__button-list {
        flex-wrap: wrap;
    }
    .for-you__box{
        flex-wrap: wrap;
        margin-top: 80px;
        align-items: center;
    }
    .for-you__box-block{
        margin-top: -60px;
        align-items: center;
    }
    .for-you__button {
        margin-top: -10px;
    }
    .for-you {
        height: 650px;
    }
    .strategies__content {
        flex-wrap: wrap;
    }
    .strategies__line {
        gap: 10px;
    }
}
@media screen and (max-width: 800px) {
    .header__list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main-title__block {
        text-align: center;
    }
   .strategies__content {
        text-align: center
   }
}
@media screen and (max-width: 600px) {
    .for-you {
        height: 1100px;
    }
    .header__logo-1 {
        margin: 40px 10px 0 13px;
    }
    .header__logo-2 {
        display: none;
    }
    .main-title__img{
        width: 350px;
    }
    .main-title__block {
        width: 350px;
    }
    .for-you__box{
        flex-direction: column;
        margin-top: 80px;
    }
    .for-you__button {
        margin: 0 30% ;
    }
}
@media screen and (max-width: 500px) {
    .header__button-list {
        margin-right: 10px;
    }
    .header__list {
        flex-direction: column;
    }

}


    display: flex;
    gap: 10px;
    margin: 0 auto;
}
.expert {
    background: url(image/Bg.png);
    background-size: cover;
    background-position: top;
}
.expert__content {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraph-expert {
    font-weight: 500;
    margin-bottom: 32px;
    margin-top:16px;
}
.expert__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 178px;
}
.expert__button {
    width: 216px;
    margin-top: 48px;
}

.expert__img{
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .expert__block{
        display: flex;
        flex-direction: column;
    }
}
.price__content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price__title {
    margin-bottom: 8px;
    font-size: 34px;
    line-height: 51px;
}
.paragraph-price {
    font-weight: 500;
    margin-bottom: 50px;
}
.price__line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.price__line-block {
    width: 322px;
    padding: 24px 0 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.price__line-block--green {
    background: var(--color-green);    
}
.price__paragraph-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price__paragraph--b{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 8px;
}
.price__cost {
    display: flex;
    align-items: center;
    margin: 16px 0;
}
.cost-text {
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    padding-right: 8px;
}
.dollar {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
}
.per{
    font-size: 16px;
    line-height: 19px;    
    letter-spacing: 0.1px;
    color: #AFAFAF;
}
.per-dark {
    color: #E0E0E0;
}
.price__paragraph {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.price__button{
    width: 139px;
    height: 44px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 28px;
}
.reviews__content {
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews__title {
    margin-bottom: 8px;
    font-size: 34px;
    line-height: 57px;
}
.reviews__paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
}
.reviews__line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.reviews__line-block {
    width: 327px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 28px 26px 23px 26px;
}
.reviews__stars {
    padding-bottom: 16px;
}
.reviews__review-text {
    font-size: 16px;
    line-height: 28px;        
    letter-spacing: 0.2px;
    color: #737373;
    padding-bottom: 16px;
}
.reviews__author {
    display: flex;
    align-items: center;
    gap: 14px;
}
.reviews__author-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.reviews__author-speciality {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.join {
    margin-top: 157px;
}
.join__content {
    margin: 0 auto;
    background: var(--color-green);
    border-radius: 32px;
    max-width: 968px;
    display: flex;
}
.join__content-block{
    padding: 49px 0 49px 51px;
}
.join__button {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    margin-top: 50px;
}

.footer__content {
    margin: 150px 0 46px 0;
    display: grid;
    grid-template-columns: 5fr 8fr 6fr;
    gap: 82px;
    margin-bottom: 88px;
    width: 100%;
}
.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 25px;
}
.footer__logo-img{
    width: 162.61px;
    height: 29.09px;
}
.footer__social-media {
    display: flex;
    gap: 16px;
}
.footer__navigation{
    display: flex;
    justify-content: space-between;
    gap: 130px;
}
.footer__list-item{
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 35px;
}
.footer__list-link:hover{
    color: var(--color-green);
}
.footer__list-item--wide {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 8px;
}
.footer__form {
    width: 325px;
    display: flex;
    flex-direction: column;
}
.footer__input-text {
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
    height: 48px;
    border: 1px solid #BCD0E5;
    margin-bottom: 21px;
    margin-top: 24px;
}
.footer__button {
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    border: none;
    width: 131px;
    height: 39px;
}
@media screen and (max-width: 900px) {
  
    .join__content {
        width: 70%;
    }
    .join__title{
        font-size: 26px;
    }
    .join__content-image{
        width: 40%;
        align-self: center;
    }
    .join__content-block{
        width: 60%;
    }
    .join__content-img{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
   
    .price__content{
        margin-top: 50px;
    }
    .reviews__content{
        padding-top: 50px;
    }
    .join__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    .join__content-block{
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        align-items: center;
    }
    .join__content-image{
        display: none;
    }
}

@media screen and (max-width: 550px) {
   
    .price__paragraph-block{
        flex-direction: column;
        align-items: center;
    }
    .cost-text {
        font-size: 56px;
    }
    .main-title__title{
        text-align: center;
    }
    .expert__block{
        width: 80%;
    }
    .expert__block img{
        width: 100%;
    }
    
}
