* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #22343D;
    margin: 0 auto;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #22343D;
}
:root{
    --color-green:#02897A;
}
.container {
    width: 77%;
    margin: 0 auto;
}
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: var(--color-green);
    border-radius: 4px;
    width: 175px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background: #046d63;
}
.button--white{
    background-color: white;
    color: var(--color-green);
}
.button--white:hover{
    background: #77cbc4;
    color: white;
}
.paragraph{
    font-size: 16px;
    line-height: 26px;
}
.color-green{
    color: var(--color-green);
}
.color-white{
    color: white;
}

.management__content {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.management__block {
     max-width: 486px;
}
.management__paragraph--bold{
    font-weight: 600;
}
.management__title {
    margin-top: 8px;
    margin-bottom: 23px;
}
.management__paragraph-margin-b{
    margin-top: 30px;
    margin-bottom: 12px;
}
.management__paragraph-margin-s{
    margin-top: 25px;
    margin-bottom: 12px;
}
.management__img {
    width: 100%;
}
.support__content {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.support__block {
    max-width: 486px;
}
.support__title {
    margin-top: 8px;
    margin-bottom: 23px;
}
.support__underblock{
    max-width: 430px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

    .support__img {
    width: 100%
}
.collaborative__content {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 150px;
}
.collaborative__block {
    max-width: 486px;
}
.collaborative__title {
    margin-top: 8px;
    margin-bottom: 23px;
}
.paragraph--bold{
    font-weight: 600;
    }
.management__paragraph-margin-b{
    margin-top: 30px;
    margin-bottom: 12px;
}
.management__paragraph-margin-s{
    margin-top: 25px;
    margin-bottom: 12px;
}
.collaborative__img {
    width: 100%;
}
@media screen and (max-width: 1200px) {
.support__content{
    display: flex;
    flex-direction: column;
}
.collaborative__content{
    display: flex;
    flex-direction: column;
}
.management__content{
    display: flex;
    flex-direction: column;
}

}
.expert {
    background: url(./images/bg\ down.svg);
    background-size: cover;
    background-position: top;
    margin-top: 167px;
}
.expert__content {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraph-expert {
    font-weight: 500;
    margin-bottom: 32px;
    margin-top:16px;
}
.expert__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 178px;
}
.expert__button {
    width: 216px;
    margin-top: 48px;
}

.strategies__content {
    padding-top: 150px;
}
.strategies__title {
     margin-bottom: 8px;
    font-size: 34px;
    line-height: 51px;
}
.paragraph-strategies {
    font-weight: 500;
    margin-bottom: 32px;
}
.strategies__line {
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
    }
.strategies__line-block{
    width: 100%;
    min-width: 165px;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
}
.strategies__item-img {
    width: 100%;
}
.strategies__paragraph{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-top: 12px;
}
.strategies__text{
    padding: 24px 30px 40px 24px;
}
.strategies__dots {
    width: 68px;
    display: flex;
    gap: 10px;
    margin: 0 auto;
}
.expert {
    background: url(image/Bg.png);
    background-size: cover;
    background-position: top;
}
.expert__content {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraph-expert {
    font-weight: 500;
    margin-bottom: 32px;
    margin-top:16px;
}
.expert__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 178px;
}
.expert__button {
    width: 216px;
    margin-top: 48px;
}

.expert__img{
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .expert__block{
        display: flex;
        flex-direction: column;
    }
}
